.breadcrums {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 16px;
    color: #5e5e5e;
    font-weight: 600;
    margin: 40px 170px 0;
    text-transform: capitalize;
  }
  
  .breadcrums img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin: 0 5px;
  }
  